* {
    box-sizing: border-box;
}

body {
    padding: 0 50px 50px;
    margin: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    text-align: center;
    color: rgba(0, 89, 89, 0.846);
    font-size: 22px;
}

/* таймфреймы */
.timeframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 89, 89, 0.846);
    font-weight: bold;
    margin-bottom: 20px;
}

.radio label {
    font-size: 17px;
    margin-right: 5px;
}

/* кнопки выбора карточек */
.view {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.favorite__btn,
.all__btn {
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid rgb(54, 141, 191);
    border-radius: 10px;
    background: white;
    text-align: center;
    color: rgba(0, 89, 89, 0.846);
    font-weight: 500;
    cursor: pointer;
    transition: all .3s linear;
}

.all__btn:hover,
.favorite__btn:hover {
    background: green;
    border-color: green;
    color: whitesmoke;
}

input[name="view"]:focus-visible + .favorite__btn,
input[name="view"]:focus-visible + .all__btn {
    border-color: green;
    box-shadow: inset 0px 0px 2px 1px;
}



/* список карточек */
.list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 25px;
    justify-content: center;
    color: rgb(29, 145, 108);
}


/* карточка */
.list__item {
    padding: 20px;
    border: 1px solid rgb(33, 28, 28);
    border-radius: 15px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.497);   
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.list__link {
    color: rgb(29, 145, 108);
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-decoration: none;
}

.list__link:visited {
    color: rgb(125, 125, 125);
}


/* таймфрейм монеты */
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px 10px;
}

.dashboard__lamp {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: white;
}

.dashboard__lamp_selected {
    outline: 2px solid #e6d42e;
    border-radius: 50%;
}


/* графики */
.chart_name {
    margin-bottom: 5px;
}

.macd,
.boll,
.rsi {
    width: 100%;
    height: 100px;
    border-radius: 10px;  
    background: #3679a124;  
    padding: 8px;
    margin-bottom: 10px;
}

.boll {
    height: 200px;
}


/* кнопка избранное */
.favorite {
    display: inline;
    cursor: pointer;
}

input[name="favorite"],
input[name="view"] {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input[name="favorite"]:checked + .favorite__star {
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

input[name="favorite"]:checked + .favorite__star::before {
    background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
}

input[name="favorite"]:focus-visible + .favorite__star {
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.favorite__star {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
    position: relative;
}

.favorite__star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(to bottom, rgba(221, 220, 219, 1) 0%, rgba(209, 208, 206, 1) 100%);
    z-index: 1;
}

.favorite__star,
.favorite__star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}

.favorite__star:hover {
    background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);
}

.favorite__star:hover:before {
    background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
}